* {
  margin: 0;
  padding: 0;
}
#canvas {
  background: #000;
  display: block;
}

.main-canvas {
  width: 100vw;
  height: 100vh;
}

._audio {
  position: absolute;
  width: 300px;
  height: 35px;
  bottom: 5%;
  right: 5%;
  opacity: 0.5;
}
