:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0,0,0,.65);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}


* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

/*怪异盒模型*/
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

/*不倾斜*/
em,
i {
  font-style: normal;
}

/*去掉列表前面的小点*/
ul {
  li {
    list-style: none;
  }
}

/*去掉图片边框和图片底侧的空白缝隙*/
img {
  border: 0;
  vertical-align: middle;
}

/*单行文字隐藏*/
.text-one-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*多行溢出(超出省略)*/
.text-two-dot {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

//盒子阴影
.box_shadow {
  box-shadow: 0px 5px 8px 5px rgba(#000000, 0.05);
}