* {
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  background-color: #ffffff;
}

/*不倾斜*/
em,
i {
  font-style: normal;
}

/*去掉列表前面的小点*/
ul {
  li {
    list-style: none;
  }
}

/*去掉图片边框和图片底侧的空白缝隙*/
img {
  border: 0;
  vertical-align: middle;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
